@{
  Layout = "_Layout";
}

<h1>Welcome to Tam of Gotchi Game online 2023 national cup!</h1>
<h5>user, This can be assured that we are official TammyGotchi game from Ninetendi Softworks.</h5>

<h3><a href="/play">Play game now!</a><h3>
