@{
Layout = "_Layout";
}

@using TamagotchiGame.Models;

<link rel="stylesheet" href="~/css/playPage.css" type="text/css" >

<h2>Here your TamyGothis, User!</h2>

<section class="pet-list">
  <ul>
    @foreach (Tamagotchi pet in Model)
    {
    <li class="petTile">
      <a href="/play/@pet.Id">@pet.Name</a>
      <p>Food: @pet.food / @Tamagotchi.food_max</p>
      @if (pet.food > 0 && pet.sleep > 0 && pet.happiness > 0)
      {
      <form action="/play/@pet.Id/feed" method="post">
        <button type="submit">Feed</button>
      </form>
      }
      else
      {
        <h1 class="dead-banner">D E A D</h1>
      }
    </li>
    }
    @if (Model.Count == 0)
    {
    <p>user, You are sad and Alone, without any Pets! Adopt one now!!</p>
    }
  </ul>
</section>

<a href="/play/new/">Abdopt new Tammy</a>
