@{
Layout = "_Layout";
}

@using TamagotchiGame.Models;

<link rel="stylesheet" href="~/css/playPage.css" type="text/css" >

<h2>Here your TamyGothis, User!</h2>

<section class="pet-list">
  <ul>
    @foreach (Tamagotchi pet in Model)
    {
    <li class="petTile">
      <a href="/play/@pet.Id">@pet.Name</a>
      <p>Food: @pet.food / @Tamagotchi.food_max</p>
      <form action="/play/@pet.Id/feed" method="post">
        <button type="submit">Feed</button>
      </form>
    </li>
    }
    @if (Model.Count == 0)
    {
    <p>user, You are sad and Alone, without any Pets! Adopt one now!!</p>
    }
  </ul>
</section>

<a href="/play/new/">Abdopt new Tammy</a>
