@{
  Layout = "_Layout";
}

<h3>Congratlation on your new Pet!!</h3>

<form action="/play" method="post">
  <label for="petName">Tammy's Name: </label>
  <input id="petName" name="newPetName" type="text">
  <button type="submit">ABOPT</button>
</form>
